// Specific CSS for your home-page

@media (max-width: 992px){
  #logo-container{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    img{
      height: 100%;
    }
  }

  #navigation-links-container{

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;

    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .main-button{
      color: rgba(0,0,0,0.7);
      position: relative;

      .golden-div{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 1px;
        background-color: $golden;
        transition: all 1s;
      }

      &.active{

        .golden-div{
          width: 100%;
        }

      }
    }

    p{
      font-size: 0.8em;
    }

    a{
      text-decoration: none;

      // color: black;
      // color: $golden;
      font-size: 1em;
    }
  }

  #main-image-carousel{
    height: 50vh;
    background-image: url(image_path("landscape1.jpg"));
    // background-image: url(image_path("rose_transp.png"));
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }


  section{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // margin-bottom: 10vh;
    margin-top: 5vh;


    .section-text{
      width: 80%;
      // padding: 0 10%;

      p{
        text-align: justify;
        font-size: 0.8em;
      }

      .title{
        color: $golden;
        font-size: 1em;
        margin-bottom: 1em ;
      }
    }

    .section-picture-container{
      width: 100%;
      height: 80vh;
      // padding: 2em 5%;

      .section-picture{
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
      }
    }


    //-----------------CHAMPAGNES--------------------------
    .bottle-description{
      width: 100%;
      height: 100vh;
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 20px;
      // border: 1px solid $golden;
      // margin: 0 5%;


      .title{
        color: $golden;
        font-size: 2em;
        margin-bottom: 1em ;

      }

      h4{
        font-size: 0.8em;
        font-weight: bold;
        margin: 1em 0;
      }

      p{
        text-align: center;
        font-size: 0.8em;
        margin: 1em 0;
        width: 100%;

        &.surrounded{
          width: 50%;
          text-align: center;
          border-bottom: 1px solid $golden;
          line-height: 0.1em;
          margin: 10px 0 20px;

          span{
            background:#fff;
            padding:0 2em;

            &.gray{
              background: $light-gray;
            }
          }
        }
      }

      &.left{
        // align-items: flex-end;

        p{
          // text-align: right;
        }
      }

      &.right{



      }
    }

    .bottle-image{
      width: 100%;
      height: 80vh;
      // background-repeat: no-repeat;
      // background-position: center;
      // background-attachment: fixed;
      // background-size: cover;
      // background-attachment: fixed;
      // background-size: contain;
      // background-color: $light-gray;

      &.brut{

        &:before {
          background-color: $light-gray;
          content: "";
          display: block;
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -10;
          background-image: url(image_path("brut_transp.png"));
          background-repeat: no-repeat;
          background-position: center;
          -webkit-background-size: contain;
          -moz-background-size: contain;
          -o-background-size: contain;
          background-size: contain;
        }

        &.active{

          &:before {
            z-index: -9;
          }

        }


      }

      &.rose{
        &:before {
          background-color: $light-gray;
          content: "";
          display: block;
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -10;
          background-image: url(image_path("rose_transp.png"));
          background-repeat: no-repeat;
          background-position: center;
          -webkit-background-size: contain;
          -moz-background-size: contain;
          -o-background-size: contain;
          background-size: contain;
        }

        &.active{

          &:before {
            z-index: -9;
          }

        }

      }

      &.blanc{

        &:before {
          background-color: $light-gray;
          content: "";
          display: block;
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -10;
          background-image: url(image_path("blanc_transp.png"));
          background-repeat: no-repeat;
          background-position: center;
          -webkit-background-size: contain;
          -moz-background-size: contain;
          -o-background-size: contain;
          background-size: contain;
        }

        &.active{

          &:before {
            z-index: -9;
          }

        }

      }
    }




    &.gray{
      background-color: $light-gray;
    }

    &.reverse-on-mobile{
      flex-flow: column-reverse;
    }


    &.not-on-mobile{
      background-color: transparent;
    }

  }

  .mentions-legales{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    color: rgba(0,0,0,0.7);
    // margin-top: 5vh;

    p{
      font-size: 0.8em;
      width: 80%;
      text-align: center;
      border-bottom: 1px solid $golden;
      line-height: 0.1em;
      margin: 10px 0 20px;

      span {
          background:#fff;
          padding:0 10px;
      }

    }
  }




}




@media (min-width: 992px){
  #logo-container{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      height: 100%;
    }
  }

  #navigation-links-container{

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;

    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .main-button{
      color: rgba(0,0,0,0.7);
      position: relative;

      .golden-div{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 1px;
        background-color: $golden;
        transition: all 1s;
      }

      &.active{

        .golden-div{
          width: 100%;
        }

      }
    }

    a{
      text-decoration: none;

      // color: black;
      // color: $golden;
      font-size: 1em;
    }
  }

  #main-image-carousel{
    height: 50vh;
    background-image: url(image_path("landscape1.jpg"));
    // background-image: url(image_path("rose_transp.png"));
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }


  section{

    width: 100%;
    display: flex;
    justify-content: space-around;

    margin-bottom: 10vh;
    margin-top: 5vh;

    .section-text{
      width: 50%;
      padding: 0 10%;

      p{
        text-align: justify;
      }

      .title{
        color: $golden;
        font-size: 2em;
        margin-bottom: 1em ;
      }
    }

    .section-picture-container{
      width: 50%;
      padding: 2em 5%;

      .section-picture{
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
      }
    }


    .bottle-description{
      width: 60%;
      padding: 10% 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // border: 1px solid $golden;
      // margin: 0 5%;


      .title{
        color: $golden;
        font-size: 3em;
        margin-bottom: 1em ;

      }

      h4{
        // font-weight: lighter;
      }

      p{
        text-align: center;
        margin: 1em 0;

        &.surrounded{
          width: 50%;
          text-align: center;
          border-bottom: 1px solid $golden;
          line-height: 0.1em;
          margin: 10px 0 20px;

          span{
            background:#fff;
            padding:0 2em;

            &.gray{
              background: $light-gray;
            }
          }
        }
      }

      &.left{

      }

      &.right{

      }
    }

    .bottle-image{
      width: 30%;
      background-repeat: no-repeat;
      background-position: center;
      // background-attachment: fixed;
      background-size: contain;

      &.brut{
        background-image: url(image_path("brut_transp.png"));

      }

      &.rose{
        background-image: url(image_path("rose_transp.png"));
      }

      &.blanc{
        background-image: url(image_path("blanc_transp.png"));
      }
    }

    &.gray{
      background-color: $light-gray;
    }

  }

  .mentions-legales{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: rgba(0,0,0,0.7);
    p{
      width: 20%;
      text-align: center;
      border-bottom: 1px solid $golden;
      line-height: 0.1em;
      margin: 10px 0 20px;

      span {
          background:#fff;
          padding:0 10px;
      }

    }
  }

}
