// Specific CSS for your home-page

#logo-container{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    height: 100%;
  }
}

#navigation-links-container{

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;

  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .main-button{
    color: rgba(0,0,0,0.7);
    position: relative;

    .golden-div{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 1px;
      background-color: $golden;
      transition: all 1s;
    }

    &.active{

      .golden-div{
        width: 100%;
      }

    }
  }

  a{
    text-decoration: none;

    // color: black;
    // color: $golden;
    font-size: 1em;
  }
}

#main-image-carousel{
  height: 50vh;
  background-image: url(image_path("landscape1.jpg"));
  // background-image: url(image_path("rose.png"));
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


section{

  width: 100%;
  display: flex;
  justify-content: space-around;

  margin-bottom: 10vh;
  margin-top: 5vh;

  .section-text{
    width: 50%;
    padding: 0 10%;

    p{
      text-align: justify;
    }

    .title{
      color: $golden;
      font-size: 2em;
      margin-bottom: 1em ;
    }
  }

  .section-picture-container{
    width: 50%;
    padding: 2em 5%;

    .section-picture{
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
    }
  }


  .bottle-description{
    width: 60%;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid $golden;
    // margin: 0 5%;


    .title{
      color: $golden;
      font-size: 3em;
      margin-bottom: 1em ;

    }

    h4{
      // font-weight: lighter;
    }

    p{
      text-align: center;
      margin: 1em 0;

      &.surrounded{
        width: 50%;
        text-align: center;
        border-bottom: 1px solid $golden;
        line-height: 0.1em;
        margin: 10px 0 20px;

        span{
          background:#fff;
          padding:0 2em;

          &.gray{
            background: $light-gray;
          }
        }
      }
    }

    &.left{

    }

    &.right{

    }
  }

  .bottle-image{
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
    background-size: contain;
  }

  &.gray{
    background-color: $light-gray;
  }

}

.mentions-legales{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: rgba(0,0,0,0.7);
  p{
    width: 20%;
    text-align: center;
    border-bottom: 1px solid $golden;
    line-height: 0.1em;
    margin: 10px 0 20px;

    span {
        background:#fff;
        padding:0 10px;
    }

  }
  // background-color: rgba(0,0,0,0.5);
  // margin-top: 10vh;
  // background-color: $light-gray;
}
