<div id="cookies-bar" class="cookies-bar">
  <p>En poursuivant votre navigation, vous acceptez le dépôt de cookies destinés à calculer nos audiences, à enregistrer des informations sur la façon dont vous naviguez pour améliorer le site.</p>

  <%#= link_to 'Accept', request.original_url, id: "accept-cookies"%>
  <div id="reject-cookies">Refuser</div>
  <div id="accept-cookies">Accepter</div>

  <%#= link_to 'Reject', request.original_url, class: 'btn reject' %>
</div>
