<div id="first-visit-modal" class="<%= @f_visit %>">
  <div id="first-visit-modal-content">
    <%= image_tag "logo.png", alt: "Demonge" %>
    <!-- <div id="error-messages">Error Message</div> -->
    <p>Pour visiter le site Champagne Demonge, vous devez avoir l’âge légal autorisé pour acheter ou consommer de l’alcool. S’il n’existe pas de législation à cet égard dans votre pays, vous devez être âgé de 21 ans au moins.</p>
    <p> En entrant, vous acceptez les termes et conditions de ce site.</p>
    <div id="button-container">
      <div id="cancel-btn" class="order-btn">NON</div>
      <div id="enter-btn" class="order-btn">OUI</div>
    </div>
    <div id="bienvenue"></div>
  </div>
</div>

