<%= link_to mentions_legales_path, class: "mentions-legales" do  %>
    <p><span>MENTIONS LEGALES</span></p>
<% end %>
<div id="cookies-settings"><i class="fas fa-cookie-bite"></i></i><p> Cookies Settings</p></div>
