<section id="contact-info-section">

  <div id="adresse">
    <p class="golden">LACONTRE FS</p>
    <p>10 rue Ducassou</p>
    <p>33310 Lormont</p>
    <p>FRANCE</p>
  </div>

  <div id="message">
    <p>Contactez-nous du lundi au vendredi de 8h00 à 12h</p>
    <p>et de 14h à 17h30 au + 33 (0)6 00 00 00 00</p>
    <p><br></p>
    <p>ou par e-mail à info@champagne-demonge.fr</p>
  </div>

</section>

<%= link_to mentions_legales_path, class: "mentions-legales" do  %>
    <p><span>MENTIONS LEGALES</span></p>
<% end %>

<p style="width:100%; text-align: center; font-weight: lighter; background-color: white; margin: 0;">L’abus d’alcool est dangereux pour la santé. A consommer avec modération.</p>

<div id="cookies-settings"><i class="fas fa-cookie-bite"></i></i><p> Cookies Settings</p></div>
