<div id="navigation-links-container">
  <%= link_to root_path, class: "main-button" do %>
    <p>HISTOIRE</p>
    <div class="golden-div"></div>
  <% end %>
  <%= link_to champagnes_path, class: "main-button" do %>
    <p>CHAMPAGNES</p>
    <div class="golden-div"></div>
  <% end %>
  <%= link_to contact_path, class: "main-button" do %>
    <p>CONTACT</p>
    <div class="golden-div"></div>
  <% end %>
</div>


<div class="mentions-legales-et-politique-de-confidentialite gray">
  <h4>MENTIONS LÉGALES</h4>

  <h5>Propriétaire du site :</h5>
  <p>Raison sociale : </p>
  <p>Adresse : </p>
  <p>Téléphone : </p>
  <p>E mail : info@champagne-demonge.fr</p>
  <p>Site : www.champagne-demonge.fr</p>
  <p>Responsable de publication : M. Timothée Boingnères</p>
  <p>RCS :</p>
  <p>SIRET :</p>
  <p>TVA INTRA</p>
  <p>Montant du capital social : </p>


  <h5>Hebergeur du site :</h5>

  <p>Heroku Inc.</p>
  <p>650 7th Street, San Francisco</p>
  <p>CA (tel : +33 1 (877) 563-4311)</p>

  <h5>Droits de propriété</h5>
  <p>Les données (textes, photographies, films, logos) présents sur le site sont la propriété de ...... ou ont fait l′objet d′une autorisation de publication par leurs auteurs au bénéfice de .....</p>
  <p> Toute reproduction, traduction ou utilisation, partielle ou intégrale, sont formellement interdits sur tous supports, sans autorisation écrite préalable de la part de .....</p>

  <h5>Responsabilités</h5>
  <p>... s′efforce de mettre à jour le contenu de son site mais ne peut pas garantir en permanence la qualité et l′exactitude du contenu du site. .... ne saurait être tenue pour responsable de l′utilisation du contenu du site. .... n′est pas garante du contenu des articles de presse publiés ou des sites partenaires mentionnés et ne saurait être tenue pour responsable des informations figurant sur ces supports, même en cas de lien.</p>

</div>

<div class="mentions-legales-et-politique-de-confidentialite">
  <h4>POLITIQUE DE CONFIDENTIALITÉ <i style="font-size: 0.8em;"> - Rédigée le 23/04/21</i></h4>
  <h5>Article 1 : Préambule</h5>
  <p>Cette politique de confidentialité s'applique au site : Champagne Demonge.</p>
  <p>La présente politique de confidentialité a pour but d'exposer aux utilisateurs du site :</p>
  <ul>
    <li>La manière dont sont collectées et traitées leurs données à caractère personnel. Doivent être considérées comme données personnelles toutes les données étant susceptibles d'identifier un utilisateur.</li>
    <li>Quels sont les droits des utilisateurs concernant ces données ;</li>
    <li>A qui ces données sont transmises ;</li>
    <li>La politique du site en matière de fichiers « cookies ».</li>
  </ul>


  <h5>Article 2 : Principes généraux en matière de collecte et detraitement des données</h5>
  <p>Conformément aux dispositions de l'article 5 du Règlement européen 2016/679, la collecte et le traitement des données des utilisateurs du site respectent les principes suivants :</p>
  <ul>
    <li>Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées ;</li>
    <li>Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes conditions générales d'utilisation ;</li>
    <li>Minimisation de la collecte et du traitement des données : seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées ;</li>
    <li>Conservation des données réduites dans le temps : les données sont conservées pour une durée limitée, dont l'utilisateur est informé. Lorsque cette information ne peut pas être communiquée, l'utilisateur est informé des critères utilisés pour déterminer la durée de conservation ;</li>
    <li>Intégrité et confidentialité des données collectées et traitées : le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées.</li>
  </ul>

  <p>Afin d'être licites, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées :</p>
  <ul>
    <li>L'utilisateur a expressément consenti au traitement ;</li>
    <li>Le traitement est nécessaire à la bonne exécution d'un contrat ;</li>
    <li>Le traitement répond à une obligation légale ;</li>
    <li>Le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;</li>
    <li>Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité publique ;</li>
    <li>Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers.</li>
  </ul>

  <h5>Article 3 : Données à caractère personnel et cookies</h5>
  <p>Le site Champagne Demonge collecte des données et utilise des cookies exclusivement dans les cas suivants :</p>
  <ul>
    <li>Formulaire de contact : L’ utilisateur peut choisir de donner son nom, son adresse, son email et numéro de téléphone pour nous contacter. Nous utiliserons ces données uniquement dans le cadre de la relation de contact et nous ne les transmettrons à aucun tiers.</li>
    <li>Acceptation ou refus des cookies : Le cookie "allow_cookies" permet de savoir si l' utilisateur accepte ou non l' ajout du code google analytics sur le site. Ces données nous permettront de visualiser le traffic sur notre site web. Ce cookie est stocké 180 jours en mémoire (6 mois).</li>
    <li>Un second cookie est utilisé : "age_legal" permet de savoir si la personne a confirmé avoir l’ âge légal pour entrer sur notre site et ainsi nous ne redemandons pas à l’ utilisateur si c’est le cas à sa prochaine visite. Ce cookie est considéré comme nécessaire pour le bon fonctionnement du site.</li>
  </ul>
  <p>L’ utilisateur peut à tout moment revenir sur sa décision d’ acceptation des cookies en cliquant sur le bouton « cookies settings » en bas du site. Il pourra ainsi activer ou désactiver l’ ajout du code google analytics sur le site.</p>

</div>
