#logo-container{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  img{
    height: 100%;
  }
}


@media (max-width: 992px){
}


@media (min-width: 992px){
}
